# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
**/.terraform.lock.hcl

# Allow the dependency lock file
!**/.terraform.lock.hcl
