#cloud-config
package_update: true
package_upgrade: true

runcmd:
  - dnf update -y
  - dnf install -y dnf-plugins-core

  - |
    cat >/etc/yum.repos.d/docker-ce.repo <<'REPO'
    [docker-ce-stable]
    name=Docker CE Stable - RHEL 9
    baseurl=https://download.docker.com/linux/rhel/9/$basearch/stable
    enabled=1
    gpgcheck=1
    gpgkey=https://download.docker.com/linux/rhel/gpg
    REPO

  - dnf install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
  - systemctl enable --now docker
  - usermod -aG docker ec2-user || true
