#cloud-config
package_update: true
packages:
  - dnf-plugins-core
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-buildx-plugin
  - docker-compose-plugin

system_info:
  default_user:
    name: ec2-user
    groups: [docker]

users:
  - default

services:
  systemd:
    enabled:
      - docker.service
    running:
      - docker.service 

write_files:
  - path: /etc/yum.repos.d/docker-ce.repo
    permissions: '0644'
    content: |
      [docker-ce-stable]
      name=Docker CE Stable - RHEL 9
      baseurl=https://download.docker.com/linux/rhel/9/$basearch/stable
      enabled=1
      gpgcheck=1
      gpgkey=https://download.docker.com/linux/rhel/gpg

runcmd:
  - systemctl enable --now docker
